<template>
  <div>
    <Portada id="vista1"/>
    <!-- Publicidad, anuncios -->
    <!-- <v-layout wrap row>
      <v-flex xs3 pa-1>
        <v-card href="http://mineria.gob.bo/imagenes/ovlogo.jpg">
          <v-img height="160px" src="http://mineria.gob.bo/imagenes/ovlogo.jpg"></v-img>
        </v-card>
      </v-flex>
      <v-flex xs3 pa-1>
        <v-card href="https://i.ytimg.com/vi_webp/CZwC-x_Kxvg/sddefault.webp">
          <v-img height="160px" src="https://i.ytimg.com/vi_webp/CZwC-x_Kxvg/sddefault.webp"></v-img>
        </v-card>
      </v-flex>
      <v-flex xs3 pa-1>
        <v-card href="http://mineria.gob.bo/imagenes/psimm2016-2020.jpg">
          <v-img height="160px" src="http://mineria.gob.bo/imagenes/psimm2016-2020.jpg"></v-img>
        </v-card>
      </v-flex>
      <v-flex xs3 pa-1>
        <v-card href="https://cdn.vuetifyjs.com/images/cards/desert.jpg">
          <v-img height="160px" src="http://mineria.gob.bo/imagenes/leyminera.png"></v-img>
        </v-card>
      </v-flex>
    </v-layout> -->
    <!-- FIN - Publicidad, anuncios -->

    <!-- Opcion alternativa al menu -->
    <BarraNavegacion/>
    <!-- <Menu id="elMenu"/> -->
    <Noticias/>
    <!-- Aqui recorremos las imagenes y los contenidos-->
    <template v-for="i in 3">
      <v-parallax :key="i*100" :id="'vista'+(i+1)" :src="imgLinks[i-1]">
        <!--Aqui ponemsoun mensaje en la Imagen-->
        <v-layout fill-height align-center wrap style="height: 400px">
          <v-flex sm12 pa-0>
            <div class="text-xs-center">
              <h2 class="display-3 white--text">El mejor titulo debe ir aqui</h2>
              <span class="subheading">Un mensaje nunca hace mal</span>
            </div>
          </v-flex>
        </v-layout>
        <!--Fin del mensaje-->
      </v-parallax>
      <Contenido :key="i*200+7"/>
    </template>
    <!-- Hasta aqui recorremos las imagenes y contenidos-->
  </div>
</template>

<script>
import Portada from "@/components/Portada";
import BarraNavegacion from "../components/BarraNavegacion";
import Contenido from "@/components/Contenido";
import Menu from "@/components/Menu";
import Noticias from "@/components/Noticias";
export default {
  components: {
    BarraNavegacion,
    Portada,
    Contenido,
    Menu,
    Noticias
  },
  data: function() {
    return {
      mostrar: true,
      imgLinks: [
        "./img/fondo01.jpg",
        "./img/fondo02.jpg",
        "./img/fondo03.jpg",
        "./img/fondo4.jpg"
      ]
    };
  }
};
</script>