<template>
  <div>
    <Menu id="elMenu"/>
    <v-container mt-3>
      <v-layout justify-center row fill-height wrap>
        <v-flex blue-grey lighten-5 xs12 md8 px-5>
          <v-layout wrap row>
            <v-flex xs12 pa-3>
              <h1>
                <b>Ministro de Mineria y Metalurgia</b>
              </h1>
            </v-flex>
            <v-flex xs12 sm4 px-2 height="400px">
              <v-img src="http://www.mineria.gob.bo/imagenes/cnavarro.jpg"></v-img>
              <b>CÉSAR NAVARRO MIRANDA</b>
            </v-flex>
            <v-flex xs12 sm8 py-1 px-4 style="float: left;">
              <div class="my-3">
                <b>CARGOS DESEMPEÑADOS</b>
                <br>
                <ul>
                  <li>Secretario de Educación Popular y Vicepresidente de la Asamblea Permanente de los Derechos Humanos de Potosí.</li>

                  <li>Secretario de Organización del Comité Cívico Potosinista.</li>

                  <li>Concejal Municipal de la ciudad de Potosí.</li>

                  <li>Diputado Uninominal del MAS-IPSP, Circunscripción 37 del Departamento de Potosí.</li>

                  <li>Jefe de Bancada del Movimiento Al Socialismo – Instrumento Político por la Soberanía de los Pueblos, Cámara de Diputados.</li>

                  <li>Viceministro de Coordinación con Movimientos Sociales y Sociedad Civil del Ministerio de la Presidencia del Estado Plurinacional de Bolivia.</li>

                  <li>Representante Presidencial de la Agenda Patriótica del Bicentenario 2025</li>
                </ul>
                <b>OBRA INTELECTUAL</b>
                <ul>
                  <li>"Bolivia: estado de sitio en Democracia", editado por la Asamblea Permanente de los Derechos Humanos de Potosí.</li>

                  <li>"Luís García Meza; una pesadilla en nuestra historia", editado por la Universidad Nacional de Siglo XX, Asamblea Permanente de los Derechos Humanos de Potosí y Central Obrera Departamental de Potosí.</li>

                  <li>"Crímenes de la Democracia Neoliberal. Movimientos Sociales, desde la masacre de Villa Tunari a El Alto", editado por el Fondo Editorial de los Diputados.</li>

                  <li>Columnista del diario "El Potosí".</li>
                </ul>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex
          xs12
          md3
          ma-3
          pa-4
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde soluta cum, quia nostrum eligendi excepturi itaque commodi optio ea officiis minus ipsa eius harum consequatur, dignissimos sequi veniam? Quidem.</v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import Menu from "@/components/Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {};
  }
};
</script>
