<template>
  <div>
    <!-- <Menu id="elMenu"/> -->
    <BarraNavegacion/>
    <v-container mt-3 >
      <v-layout justify-center row fill-height wrap>
        <v-flex blue-grey lighten-5 xs12 md8 px-5 elevation-1>
          <v-layout wrap row>
            <v-flex xs12 pa-3>
              <h1><b>IV Aniversario de la Federación Departamental de Cooperativas Mineras Chuquisaca (FEDECOMIN CH R.L) </b></h1>
            </v-flex>
            <v-flex xs12 sm12 px-2 height="400px">
              <v-img height="300" src="http://www.mineria.gob.bo/fotografias/2019/05/27/0002.jpg"></v-img>
              <p
                class="py-2 px-3"
              >Viceministro de Cooperativas Mineras, José Luis Chorolque junto al Presidente de la FEDECOMIN CH, Manuel Fernández Acuña.</p>
            </v-flex>
            <v-flex xs12 sm12 py-1 px-4>
              <span style="color:grey; text-align: justify;">24 de mayo de 2019</span>
              <hr>
              <p style="line-height:30px" class="my-3">
                
                El viceministro de Cooperativas Mineras, José Luis Chorolque, participó del IV Aniversario de la Federación Departamental de Cooperativas Mineras Chuquisaca (FEDECOMIN CH R.L), acto que se llevó a cabo en las instalaciones del Centro Internacional de Convenciones de La Glorieta.
                El viceministro Chorolque dijo que se espera la presentación de nuevos proyectos a la cabeza de Manuel Fernández Acuña, Presidente de la FEDECOMIN CH R.L., para fortalecer el sector minero.
                “Se dieron pasos grandes en estos 4 años de la creación, existen aportes al desarrollo Nacional y Departamental” señaló al momento de entregarles un reconocimiento.
                La Federación a su vez destacó el apoyo por parte del Ministerio de Minería y Metalurgia, exaltando la concreción de proyectos para el sector.
              </p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 md3 ma-3 pa-4>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde soluta cum, quia nostrum eligendi excepturi itaque commodi optio ea officiis minus ipsa eius harum consequatur, dignissimos sequi veniam? Quidem.

        </v-flex>
      </v-layout>

    </v-container>
  </div>
</template>
<script>
import Menu from "@/components/Menu";
import BarraNavegacion from "@/components/BarraNavegacion";
export default {
  components: {
    Menu,
    BarraNavegacion,
  },
  data() {
    return {
      noticias: [
        {
          titulo: "(FEDECOMIN CH R.L)",
          linkImagen:
            "http://www.mineria.gob.bo/fotografias/2019/05/27/0002.jpg",
          fecha: "24 de mayo de 2019",
          resumen: `El viceministro de Cooperativas Mineras, José Luis Chorolque, participó del IV Aniversario de la Federación Departamental de Cooperativas Mineras Chuquisaca (FEDECOMIN CH R.L), acto que se llevó a cabo en las instalaciones del Centro Internacional de Convenciones de La Glorieta.`
        }
      ]
    };
  }
};
</script>
