<template>
  <div>
    <Menu id="elMenu"/>
    <v-container id="grid" fluid grid-list-sm tag="section">
      <v-layout row wrap>
        <v-flex tag="h1" class="headline">Lorem Ipsum</v-flex>
        <v-flex d-flex xs12 order-xs5>
          <v-layout column>
            <v-flex>
              <v-card flat>
                <v-card-text>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia obcaecati tempora placeat soluta commodi hic distinctio, cum est, repellendus temporibus culpa delectus sit! Neque perspiciatis expedita quo rerum officia nisi!</v-card-text>
              </v-card>
            </v-flex>
            <v-flex>
              <v-card flat>
                <v-card-text>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia obcaecati tempora placeat soluta commodi hic distinctio, cum est, repellendus temporibus culpa delectus sit! Neque perspiciatis expedita quo rerum officia nisi!</v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import Menu from "@/components/Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {};
  }
};
</script>
