<template>
  <div>
    <div style="height:55px;" v-show="pegote"></div>
    <v-toolbar id="toolbar" height="55px" dark flat style="z-index: 10;">
      <v-toolbar-side-icon class="hidden-md-and-up" @click="menuVertical=!menuVertical"/>
      <!-- 3D -->
      <div class="contenedor3D">
        <div class="miClase"></div>
      </div>
      <v-toolbar-title
        class="white--text font-weight-black font-italic"
      >Lorem ipsum dolor</v-toolbar-title>
      <!-- fin 3D -->
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn small depressed href="/">
          <v-icon
          <span class="hidden-sm-and-down">Tempus</span>
        </v-btn>
        <v-btn small depressed @click="btn1=!btn1; btn2=false; btn3=false;  btn4=false;">
          
          <span class="hidden-sm-and-down">consectetur purus </span>
        </v-btn>
        <v-btn small depressed @click="btn1=false; btn2=!btn2; btn3=false;  btn4=false;">
          
          <span class="hidden-sm-and-down">pellentesque </span>
        </v-btn>
        <v-btn small depressed @click="btn1=false; btn2=false; btn3=!btn3;  btn4=false;">
          
          <span class="hidden-sm-and-down">pharetra</span>
        </v-btn>
        <v-btn small depressed @click="btn1=false; btn2=false; btn3=false;  btn4=!btn4;">
          
          <span class="hidden-sm-and-down">tellus at</span>
        </v-btn>
        <v-btn small depressed>
          
          <span class="hidden-sm-and-down"> tincidunt ornare</span>
        </v-btn>
        <v-btn small depressed>
          
          <span class="hidden-sm-and-down">mattis</span>
        </v-btn>
        <div class="despliegue" v-show="btn1">
          <v-container>
            <v-layout wrap row>
              <v-flex xs12 mb-0>
                <h1 class="font-weight-black text-xs-center display-2 pb-3">Institucion</h1>
              </v-flex>
              <v-flex xs3>
                <ul>
                  <li>Institucional</li>
                  <ul>
                    <li>
                      <a href="/objetivos">Objetivo Institucional</a>
                    </li>
                    <li>
                      <a href="/">Politicas Estrategicas</a>
                    </li>
                    <li>
                      <a href="/">Plan Sectorial de Mineria</a>
                    </li>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs3>
                <ul>
                  <li>Vision y Mision</li>
                  <ul>
                    <li>
                      <a href="/">Objetivo Institucional</a>
                    </li>
                    <li>
                      <a href="/">Politicas Estrategicas</a>
                    </li>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs3>
                <a href="/">Organigrama</a>
                <br>
              </v-flex>
              <v-flex xs3>
                <a href="/ministro">Sobre el Ministro</a>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
        <div class="despliegue" v-show="btn2">
          <v-container>
            <v-layout wrap row>
              <v-flex xs12 mb-0>
                <h1 class="text-xs-center">Viceministerios</h1>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>Desarrollo Productivo Minero</li>
                  <ul>
                    <li>
                      <a href="/">Viceministro</a>
                    </li>
                    <li>
                      <a href="/">Informacion del Viceministro</a>
                    </li>
                    <li>Direccion de Medio Ambiente</li>
                    <ul>
                      <li>
                        <a href="/">Unidad de Medio Ambiente</a>
                      </li>
                      <li>
                        <a href="/">Unidad de Consultas</a>
                      </li>
                    </ul>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>
                    <b>Constitucion Politica del Estado</b>
                  </li>
                  <ul>
                    <li>Decretos supremos</li>
                    <li>Decretos Ley</li>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>
                    <b>Politicas Mineras</b>
                  </li>
                  <ul>
                    <li>Decretos supremos</li>
                    <li>Decretos Ley</li>
                  </ul>
                </ul>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
        <div class="despliegue" v-show="btn3">
          <v-container>
            <v-layout wrap row>
              <v-flex xs12 mb-0>
                <h1 class="text-xs-center">Transparencia</h1>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>Desarrollo Productivo Minero</li>
                  <ul>
                    <li>
                      <a href="/">Viceministro</a>
                    </li>
                    <li>
                      <a href="/">Informacion del Viceministro</a>
                    </li>
                    <li>Direccion de Medio Ambiente</li>
                    <ul>
                      <li>
                        <a href="/">Unidad de Medio Ambiente</a>
                      </li>
                      <li>
                        <a href="/">Unidad de Consultas</a>
                      </li>
                    </ul>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>
                    <b>Constitucion Politica del Estado</b>
                  </li>
                  <ul>
                    <li>Decretos supremos</li>
                    <li>Decretos Ley</li>
                  </ul>
                </ul>
              </v-flex>
              <v-flex xs4>
                <ul>
                  <li>
                    <b>Politicas Mineras</b>
                  </li>
                  <ul>
                    <li>Decretos supremos</li>
                    <li>Decretos Ley</li>
                  </ul>
                </ul>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
        <div class="despliegue" v-show="btn4">
          <v-container>
            <v-layout wrap row>
              <v-flex xs12 mb-0>
                <h1 class="text-xs-center">Marco Legal</h1>
              </v-flex>
              <v-flex xs6>
                <p>Constitucion Politica del Estado</p>
                <p>Decretos supremos</p>
                <p>Decretos Ley</p>
              </v-flex>
              <v-flex xs6>
                <p>Constitucion Politica del Estado</p>
                <p>Decretos supremos</p>
                <p>Decretos Ley</p>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </v-toolbar-items>
    </v-toolbar>
    <!--Aqui se muestra el menu responsivo-->
    <v-navigation-drawer style="z-index:11" app v-model="menuVertical" temporary>
      <v-toolbar-side-icon class="hidden-md-and-up" @click="menuVertical=!menuVertical"/>
      <v-container>
        <v-expansion-panel class="elevation-0" flat>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Institucion</div>
            </template>
            <v-card>
              <v-card-text>
                <v-btn flat block>Objetivo Institucional</v-btn>
                <v-btn flat block>Politicas Estrategicas</v-btn>
                <v-btn flat block>Plan Sectorial de Mineria</v-btn>
                <v-expansion-panel class="elevation-0">
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div> <center>opcion4</center> </div>
                    </template>
                    <v-card>
                      <v-card-text>
                        <v-btn block>opcion1</v-btn>
                        <v-btn block>opcion2</v-btn>
                        <v-btn block>opcion3</v-btn>
                      </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Viceministerio</div>
            </template>
            <v-card>
              <v-card-text>
                <v-btn block>opcion1</v-btn>
                <v-btn block>opcion2</v-btn>
                <v-btn block>opcion3</v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Transparencia</div>
            </template>
            <v-card>
              <v-card-text>
                <v-btn block>opcion1</v-btn>
                <v-btn block>opcion2</v-btn>
                <v-btn block>opcion3</v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Marco Legal</div>
            </template>
            <v-card>
              <v-card-text>
                <v-btn block>opcion1</v-btn>
                <v-btn block>opcion2</v-btn>
                <v-btn block>opcion3</v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-flex>
          <v-btn block>soy el boton</v-btn>
        </v-flex>
      </v-container>
    </v-navigation-drawer>
    <!-- Aqui esta el boton flotante-->
    <v-btn
      v-show="mostrarBoton"
      fixed
      dark
      fab
      bottom
      right
      color="indigo"
      @click="$vuetify.goTo(0,{duration:1000})"
    >
      <center>
        <v-icon>keyboard_arrow_up</v-icon>
      </center>
    </v-btn>
    <!-- Fin boton flotante-->
  </div>
</template>
<style>
.despliegue {
  background-color: rgb(202, 199, 199);
  width: 100%;
  position: fixed;
  left: 0;
  top: 55px;
  z-index: 1100;
}
.despliegue a {
  text-decoration: none;
  color: darkblue;
}
.menuPegote {
  top: 0;
  position: fixed;
}
</style>

<script>
export default {
  data() {
    return {
      titulos: ["Inicio", "Institucion", "Auditoria", "Contactos"],
      menuVertical: false,
      mostrarBoton: false,
      btn1: false,
      btn2: false,
      btn3: false,
      btn4: false,
      pegote: false,
      laAltura: 0
    };
  },
  methods: {
    handleScroll(event) {
      // Aqui validamos el boton flotante (la flechita)
      if (window.scrollY > 300) this.mostrarBoton = true;
      else this.mostrarBoton = false;
      //Aqui hacemos que el menu se quede quieto
      var elMenu = document.querySelector("#toolbar");
      if (window.scrollY > this.laAltura) {
        elMenu.classList.add("menuPegote");
        this.pegote = true;
      } else {
        elMenu.classList.remove("menuPegote");
        this.pegote = false;
      }
    }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  mounted() {
    this.laAltura = document.querySelector("#toolbar").offsetTop;
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  }
};
</script>