<template>
  <section>
    <v-layout column wrap my-5 align-center>
      <v-flex xs12 dark sm4 class="my-3">
          <h2 class="text-xs-center headline indigo--text">El titulo debe ir aqui ☺</h2>
      </v-flex>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <!--Aqui repetimos con un for a modo de visualizar un elemplo-->
            <v-flex xs12 md3 v-for="i in 4" :key="i">
              <Cuadrito/>
            </v-flex>
            <!--Hasta aqui se repiten (reemplazar por el oficial)-->
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </section>
</template>
<script>
import Cuadrito from '@/components/Cuadrito'
  export default {
    components:{
      Cuadrito
    }

  }
</script>