<template>
  <div class="pa-0 ma-0">
    <v-tabs
      grow
      centered
      black
      slider-color="indigo"
      style="height:500px;width:500px; 
    <!-- overflow-y: scroll; -->
    "
    >
      <v-tab ripple>Diaria</v-tab>
      <v-tab-item>
        <v-data-table hide-actions :headers="headers" :items="minerales" class="elevation-1">
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.unidad }}</td>
            <td>{{ props.item.baja }}</td>
            <td>{{ props.item.alta }}</td>
          </template>
        </v-data-table>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>
export default {
  data() {
    return {
      minerales: [
        { nombre: "consectetur", unidad: "LF", baja: 1.215, alta: 1.216 },
        { nombre: "lorem", unidad: "LF", baja: 8.6, alta: 8.602 },
        { nombre: "donec", unidad: "TMF", baja: 6600, alta: 6850 },
        { nombre: "massa", unidad: "LF", baja: 0.815, alta: 0.816 },
        { nombre: "sapien", unidad: "TMF", baja: 13303.2, alta: 13592.4 },
        { nombre: "faucibus", unidad: "LF", baja: 2.66, alta: 2.66 },
        { nombre: "molestie", unidad: "LF", baja: 3.1, alta: 3.4 },
        {
          nombre: `varius`,
          unidad: "TM",
          baja: 106.18,
          alta: 106.18
        }
      ],
      headers: [
        { text: "Producto", value: "name", sortable: false },
        { text: "Unidad", value: "unidad" },
        { text: "Baja", value: "baja" },
        { text: "Alta", value: "alta" }
      ]
    };
  }
};
</script>
