<template>
    <v-card class="elevation-4 grey lighten-1">
      <v-card-text class="text-xs-center">
        <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
      </v-card-text>
      <v-card-title primary-title class="layout justify-center">
        <div class="headline text-xs-center">Lorem ornare</div>
      </v-card-title>
      <v-card-text>
        Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
      </v-card-text>
    </v-card>
</template>
