<template>
  <div class="menuh" id="elMenu">
    <div class="navbar">
      <v-container bg fill-height grid-list-md text-xs-center py-0>
        <!-- 3D -->
        <div class="contenedor3D">
          <div class="miClase"></div>
        </div>
        <!-- fin 3D -->
        <a class="elBoton" href="/">Inicio</a>
        <div class="dropdown">
          <button class="dropbtn" @click="miToggle=!miToggle">
            <!-- <v-icon class="left mr-1" color="grey lighten-3">home</v-icon> -->
            Institucion
          </button>
          <div
              class="dropdown-content grey lighten-2"
              style="display:block;"
              @click="miToggle=!miToggle"
              v-show="miToggle"
            >
            <!-- Aqui pondremos las opciones de la opcion "Viceministerios" -->
            <v-container>
              <v-layout wrap row>
                <v-flex xs12 mb-0>
                  <h1 class="font-weight-black text-xs-center display-2 pb-3">Institucion</h1>
                </v-flex>
                <v-flex xs3>
                  <ul>
                    <li>Institucional</li>
                    <ul>
                      <li>
                        <a href="/objetivos">Objetivo Institucional</a>
                      </li>
                      <li>
                        <a href="/">Politicas Estrategicas</a>
                      </li>
                      <li>
                        <a href="/">Plan Sectorial de Mineria</a>
                      </li>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs3>
                  <ul>
                    <li>Vision y Mision</li>
                    <ul>
                      <li>
                        <a href="/">Objetivo Institucional</a>
                      </li>
                      <li>
                        <a href="/">Politicas Estrategicas</a>
                      </li>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs3>
                  <a
                    href="/"
                    style="text-decoration:none; margin-left: 2em; line-height:2em;"
                  >Organigrama</a>
                  <br>
                </v-flex>
                <v-flex xs3>
                  <a
                    href="/ministro"
                    style="text-decoration:none; margin-left: 2em; line-height:2em;"
                  >Sobre el Ministro</a>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Viceministerios
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content grey lighten-5">
            <!-- Aqui pondremos las opciones de la opcion "Viceministerios" -->
            <v-container>
              <v-layout wrap row>
                <v-flex xs12 mb-0>
                  <h1 class="text-xs-center">Viceministerios</h1>
                </v-flex>
                <v-flex xs4>
                  <ul style="margin-left:0;">
                    <li>Desarrollo Productivo Minero</li>
                    <ul>
                      <li>
                        <a href="/" style="margin-left:0;">Viceministro</a>
                      </li>
                      <li>
                        <a href="/">Informacion del Viceministro</a>
                      </li>
                      <li>Direccion de Medio Ambiente</li>
                      <ul>
                        <li>
                          <a href="/">Unidad de Medio Ambiente</a>
                        </li>
                        <li>
                          <a href="/">Unidad de Consultas</a>
                        </li>
                      </ul>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs4>
                  <ul>
                    <li>
                      <b>Constitucion Politica del Estado</b>
                    </li>
                    <ul>
                      <li>Decretos supremos</li>
                      <li>Decretos Ley</li>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs4>
                  <ul>
                    <li>
                      <b>Politicas Mineras</b>
                    </li>
                    <ul>
                      <li>Decretos supremos</li>
                      <li>Decretos Ley</li>
                    </ul>
                  </ul>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Transparencia
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content grey lighten-5">
            <!-- Aqui pondremos las opciones de la opcion "Viceministerios" -->
            <v-container>
              <v-layout wrap row>
                <v-flex xs12 mb-0>
                  <h1 class="text-xs-center">Viceministerios</h1>
                </v-flex>
                <v-flex xs4>
                  <ul style="margin-left:0;">
                    <li>Desarrollo Productivo Minero</li>
                    <ul>
                      <li>
                        <a href="/" style="margin-left:0;">Viceministro</a>
                      </li>
                      <li>
                        <a href="/">Informacion del Viceministro</a>
                      </li>
                      <li>Direccion de Medio Ambiente</li>
                      <ul>
                        <li>
                          <a href="/">Unidad de Medio Ambiente</a>
                        </li>
                        <li>
                          <a href="/">Unidad de Consultas</a>
                        </li>
                      </ul>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs4>
                  <ul>
                    <li>
                      <b>Constitucion Politica del Estado</b>
                    </li>
                    <ul>
                      <li>Decretos supremos</li>
                      <li>Decretos Ley</li>
                    </ul>
                  </ul>
                </v-flex>
                <v-flex xs4>
                  <ul>
                    <li>
                      <b>Politicas Mineras</b>
                    </li>
                    <ul>
                      <li>Decretos supremos</li>
                      <li>Decretos Ley</li>
                    </ul>
                  </ul>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Marco Legal
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content grey lighten-5">
            <!-- Aqui pondremos las opciones de la opcion "Marco legal" -->
            <v-container>
              <v-layout wrap row>
                <v-flex xs12 mb-0>
                  <h1 class="text-xs-center">Marco Legal</h1>
                </v-flex>
                <v-flex xs6>
                  <p>Constitucion Politica del Estado</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Decretos supremos</p>
                  <p>Decretos Ley</p>
                </v-flex>
                <v-flex xs6>
                  <p>Constitucion Politica del Estado</p>
                  <p>Decretos supremos</p>
                  <p>Decretos Ley</p>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </div>
        <a class="elBoton" :href="'#vista'+(i+1)" v-for="(titulo,i) in titulos" :key="i">{{titulo}}</a>
      </v-container>
    </div>
  </div>
</template>

<style >
.pegote {
  top: 0;
  opacity: 0.95;
  position: fixed;
}

.menuh {
  margin: 0;
  width: 100%;
  z-index: 10;
  transition: all 2s;
}

.menuh .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.menuh .navbar .elBoton {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  height: auto;
}

.menuh .dropdown {
  /* aqui para que los botones esten unos seguidos de otros */
  float: left;
  overflow: hidden;
}

.menuh .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.menuh .navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightslategray;
}

.menuh .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}

.menuh .dropdown-content .header {
  background: lightslategray;
  padding: 16px;
  color: white;
}

.menuh .dropdown:hover .dropdown-content {
  display: block;
}
/*  3D */
.contenedor3D {
  perspective: 70px;
  perspective-origin: center;
  margin: auto;
  padding: 0px;
  margin: 0px;
}

.miClase {
  background-image: url("./../assets/logoMMM.png");
  background-size: 100% 100%;
  height: 30px;
  width: 30px;

  animation: giro 3s linear infinite;
}
@keyframes giro {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
</style>
<script>
export default {
  data() {
    return {
      titulos: ["Auditoria", "Prensa", "Contactos"],
      miToggle: false
    };
  },
  methods: {}
};
</script>
