<template>
    <v-card height="100%" class="elevation-1" href="/Noticia">
      <v-img class="white--text" height="200px" :src="linkImagen"></v-img>
      <v-card-title>
        <div>
          <span class="grey--text">{{fecha}}</span>
          <br>
          <span>
            <b>{{titulo}}</b>
          </span>
          <br>
          <span>{{resumen}}</span>
        </div>
      </v-card-title>
    </v-card>
</template>
<script>
export default {
  props: ["titulo", "linkImagen", "fecha", "resumen"]
};
</script>
