<template>
  <section >
    <v-layout column wrap my-5 align-center>
      <v-flex xs12 sm4 class="my-3">
        <h2 class="text-xs-center headline indigo--text">Noticias destacadas</h2>
      </v-flex>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <!--Aqui repetimos con un for a modo de visualizar un elemplo-->
              <v-flex xs12 md3 v-for="(noticia, i) in noticias" :key="i">
                <Noticia :titulo="noticia.titulo"
                :linkImagen="noticia.linkImagen"
                :fecha="noticia.fecha"
                :resumen="cuentaLetras(noticia.resumen,noticia.titulo)"
                />
              </v-flex>
            <!--Hasta aqui se repiten (reemplazar por el oficial)-->
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </section>
</template>
<script>
import Noticia from "@/components/Noticia";
export default {
  components: {
    Noticia
  },
  data() {
    return {
      noticias: [
        {
          titulo: "Lorem ipsum dolor sit amet",
          linkImagen: "https://picsum.photos/200/300",
          fecha: "24 de mayo de 2019",
          resumen: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Nam aliquam sem et tortor. Tristique sollicitudin nibh sit amet commodo nulla. Eu scelerisque felis imperdiet proin fermentum leo vel orci porta. Aliquam vestibulum morbi blandit cursus risus at. Quisque non tellus orci ac auctor augue mauris. Varius sit amet mattis vulputate. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Quis commodo odio aenean sed adipiscing diam.`
        },
        {
          titulo: "Consectetur adipiscing elit",
          linkImagen: "https://picsum.photos/200/301",
          fecha: "27 de mayo de 2019",
          resumen: `Tortor pretium viverra suspendisse potenti nullam ac tortor. Nisl rhoncus mattis rhoncus urna neque viverra justo. Est ullamcorper eget nulla facilisi etiam. Diam maecenas sed enim ut sem viverra aliquet eget. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Blandit cursus risus at ultrices. Mi eget mauris pharetra et ultrices. Egestas sed sed risus pretium. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Neque aliquam vestibulum morbi blandit cursus. Amet consectetur adipiscing elit ut aliquam purus. Nisi vitae suscipit tellus mauris a. Ut tellus elementum sagittis vitae.`
        },
        {
          titulo: "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
          linkImagen: "https://picsum.photos/200/302",
          fecha: "20 de mayo de 2019",
          resumen: `Dolor magna eget est lorem. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Amet dictum sit amet justo donec. Non tellus orci ac auctor augue mauris. Velit scelerisque in dictum non consectetur a. At consectetur lorem donec massa sapien faucibus et. Aliquam faucibus purus in massa tempor. Quam elementum pulvinar etiam non quam lacus. Proin libero nunc consequat interdum varius sit amet mattis.`
        },
        {
          titulo: "Nec sagittis aliquam malesuada bibendum arcu",
          linkImagen: "https://picsum.photos/200/303",
          fecha: "20 de mayo de 2019",
          resumen: `Arcu bibendum at varius vel pharetra vel. Congue nisi vitae suscipit tellus mauris a. In iaculis nunc sed augue lacus. Nisl nisi scelerisque eu ultrices vitae auctor eu augue. Duis convallis convallis tellus id. Non blandit massa enim nec dui. Donec massa sapien faucibus et molestie. Morbi enim nunc faucibus a pellentesque. Turpis egestas sed tempus urna et pharetra. Vel quam elementum pulvinar etiam non quam lacus. Sed velit dignissim sodales ut eu sem. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Non odio euismod lacinia at quis risus sed vulputate. Convallis convallis tellus id interdum velit laoreet id donec. Tellus elementum sagittis vitae et leo duis. Nisi est sit amet facilisis magna etiam tempor. Adipiscing bibendum est ultricies integer. Faucibus purus in massa tempor.
                      La Patente Minera es el pago que deben efectuar los APM para realizar actividades mineras en el país. Los que incumplan con el pago perderán su derecho minero, conforme establece la normativa vigente.`
        }
      ]
    };
  },
  methods:{
    cuentaLetras: function (frase,titulo){

      let longResumen = frase.length ;
      let longTitulo = titulo.length*1.5;
      if(longResumen + longTitulo > 260)
        return frase.substr(0,260-longTitulo)+"   ...";
      return frase;
    }
  }
};
</script>