<template>
  <div ma-0 pa-0>
    <div class="miPortada mt-0 pa-4">
      <v-container grid-list-xl>
        <v-layout align-space-around row wrap>
          <v-flex xs12 md7>
            <v-layout column align-center justify-center class="font-weight-bold text-xs-center">
              <img src="@/assets/logoMMM.png" height="300px" />
              <!-- <img src="@/assets/logoMMM.png" style="max-width:100%;width:auto;height:auto;"> -->
              <!-- 3D -->
              <!-- <div class="contenedor">
                <div class="cubo">
                  <div class="cara" id="uno"></div>
                  <div class="cara" id="dos"></div>
                  <div class="cara" id="tres"></div>
                  <div class="cara" id="cuatro"></div>
                  <div class="cara" id="cinco"></div>
                  <div class="cara" id="seis"></div>
                </div>
              </div>-->
              <!-- fin 3D -->
              <div class="display-3 white--text">Lorem ipsum dolor sit amet</div>
            </v-layout>
          </v-flex>
          <v-flex xs12 md5 ma-0 pa-0>
            <h1 class="display-2 text-xs-center white--text">Vestibulum</h1>
            <Cotizaciones />
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>
<style>
/* PORTADA SLIDE */
.miPortada {
  position:relative;
  margin:auto;
  /* position: fixed; */
  margin: 0;
  padding: 0;
  background-image: url("./../../public/img/fondo01.jpg");
  background-size: cover;
  animation: miMovimiento 40s infinite ;
}
.rotarImage {
  rotate: inherit;
}
@keyframes miMovimiento {
  0% {
    background-image: url("./../../public/img/fondo01.jpg");
    background-position: top;
  }
  25% {
    background-image: url("./../../public/img/fondo02.jpg");
    background-position: bottom;
  }
  50% {
    background-position: top;
    background-image: url("./../../public/img/fondo03.jpg");
  }
  75% {
    background-image: url("./../../public/img/fondo04.jpg");
    background-position: bottom;
  }

}
/* CUBO 3D */
/* .contenedor {
  margin: 30px;
  padding: 30px;
  perspective: 700px;
  perspective-origin: 0px -100px;
}

.cubo {
  height: 200px;
  width: 200px;
  background-size: 100% 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-1deg);
  animation: girar 9s infinite linear;
}

.cara {
  position: absolute;
  width: 100%;
  height: 100%;
}
#uno {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateZ(100px);
}

#dos {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateX(100px) rotateY(90deg);
}

#tres {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateZ(-100px);
}

#cuatro {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateX(-100px) rotateY(90deg);
}

#cinco {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateY(-100px) rotateX(90deg);
}

#seis {
  background-image: url(./../assets/logoMMM.png);
  background-size: 100% 100%;
  transform: translateY(100px) rotateX(90deg);
}
@keyframes girar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
} */
</style>
<script>
import Cotizaciones from "@/components/Cotizaciones";
export default {
  components: {
    Cotizaciones
  }
};
</script>