<template>
  <v-app white>
    <!-- <BarraNavegacion/> -->
    <v-content>
      <router-view/>
    </v-content>
    <PiePagina/>
  </v-app>
</template>

<script>
import BarraNavegacion from "@/components/BarraNavegacion.vue";
import PiePagina from "@/components/PiePagina.vue";
import Menu from "@/components/Menu.vue";
import Portada from "@/components/Portada.vue";

import Contenido from "@/components/Contenido";
import Noticias from "@/components/Noticias";
export default {
  name: "App",
  data() {
    return {};
  },
  components: {
    PiePagina,
    BarraNavegacion,
    Menu,
    Portada,
    Contenido,
    Noticias
  }
};
</script>
